.python-version
.env
private/

data/output/
data/pdfs/*
!data/pdfs/test_report/
data/processed/*
!data/processed/embeddings/
data/processed/embeddings/*
!data/processed/embeddings/test_embeddings/

output/

output/

tests/last_run_ids.json
tests/output_tests.txt

.idea
.ipynb_checkpoints
**/.__pycache__/
*.pyc


__pycache__
.vscode
.DS_Store
.venv
.conda
/01-data/004-test
/mlruns

data/evaluation_dataset/*
!data/evaluation_dataset/test_evaluation/
data/docs/
problematic_pdfs_log.txt
*.egg-info/

#praveen local test files
_test_ptf/